################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnet.RabbitMQ
/src/Dotnet.RabbitMQ.Api/obj
/src/Dotnet.RabbitMQ.Api/bin/Debug/netcoreapp3.0
/src/Dotnet.RabbitMQ.Infra/obj
/src/Dotnet.RabbitMQ.Infra/bin/Debug/netcoreapp3.0
/src/Dotnet.RabbitMQ.Worker/bin/Debug/netcoreapp3.0
/src/Dotnet.RabbitMQ.Worker/obj
